<!-- <form style="margin-top: 22px;">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
    </div>
    <div class="form-group col-md-3">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  </form> -->

<!--Start Search-->

<!-- <mat-expansion-panel [expanded]="true"> 
  <mat-expansion-panel-header>
    <mat-panel-title>
      البحث فى امر التوريد
    </mat-panel-title>
  </mat-expansion-panel-header> -->
  <form #f="ngForm"(ngSubmit)="search(f)" id="searchForm">
    <div class="form-row"> 
     
      <div class="form-group col-md-2">
        <label for="action">Action Name</label>
        <input type="text" [(ngModel)]="action" name="action"  class="form-control" id="action" placeholder="Action">
      </div>
      <div class="form-group col-md-2">
        <label for="action_BY">Action By</label>
        <input type="text" class="form-control" id="action_BY" placeholder="Action By"  name="action_BY" [(ngModel)]="action_BY">
      </div>
      <div class="form-group col-md-2">
        <label for="faction_DATE">From Date </label>
        <input type="date" class="form-control" 
         id="faction_DATE" placeholder="Action Date" name="faction_DATE" [(ngModel)]="faction_DATE">
      </div>
      <div class="form-group col-md-2">
        <label for="saction_DATE">To Date </label>
        <input type="date" class="form-control"
         id="saction_DATE" placeholder="Action Date" name="saction_DATE" [(ngModel)]="saction_DATE">
      </div>
      <!-- placeholder="mm/dd/yyyy" 
      min="01/01/1997" max="01/01/2100" -->
      <!-- datetime-local -->
      <div class="form-group col-md-4">
        <label for="notes">Notes</label>
        <input type="text" class="form-control" [(ngModel)]="notes" id="notes" name="notes" placeholder="Notes">
      </div>
      </div>
      <div id="btnStyle">
        <button type="submit" id="submitBtn" class="btn btn-success btn-sm mb-1" [disabled]=f.form.invalid  >
        <i class="fa fa-search" aria-hidden="true"></i>
        Search </button>
        <button type="button" id="resetBtn" class="btn btn-primary btn-sm mb-1"  (click)="reset()" style="margin-right: 10px;">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          Reset 
          </button>
          <button  type="button" class="btn btn-info btn-sm mb-1" (click)="exportExcel()" pTooltip="XLS" >
            <i class="fa fa-download" aria-hidden="true" ></i>
            Export 
          </button>
        <!-- </div>  -->
        </div>
    </form>
  <!-- <form #f="ngForm"(ngSubmit)="search(f)">
    <br>
    <div class="searchDiv">
      <div class="col-lg-5 col-md-5  col-xs-6 col-sm-6" style="display: inline-flex;">
        <div class="col-lg-5">
          <label for="action" class="col-form-label">Action </label>
        </div>
        <div class="col-lg-8">
          <div style="display: flex;">
            <input  name="action" id="action"  [(ngModel)]="action" class="form-control">
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5  " style="display: inline-flex;">
        <div class="col-lg-5">
          <label for="action_BY" class="col-form-label">Action By</label>
        </div>
        <div class="col-lg-8">
          <div style="display: flex;">
            <input name="action_BY" id="action_BY" [(ngModel)]="action_BY" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5  " style="display: inline-flex;">
        <div class="col-lg-5">
          <label for="action_DATE" class="col-form-label">Action Date</label>
        </div>
        <div class="col-lg-8">
          <div style="display: flex;">
            <input name="action_DATE" id="action_DATE" [(ngModel)]="action_DATE"  class="form-control" type="datetime-local">
          </div>
        </div>
      </div>
      
      <div class="col-lg-5 col-md-5" style="display: inline-flex;">
        <div class="col-lg-5">
          <label for="notes" class="col-form-label">Notes</label>
        </div>
        <div class="col-lg-8">
          <div style="display: flex;">
            <input name="notes" id="notes" [(ngModel)]="notes"  class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="col-lg-12" style="margin-bottom: 10px;"> 
        <div  class="divStyle">
        <button type="submit" id="submitBtn" class="btn btn-success btn-sm mb-1" [disabled]=f.form.invalid >
          <i class="fa fa-search" aria-hidden="true"></i>
          Search </button>
        <button type="button" id="resetBtn" class="btn btn-primary btn-sm mb-1" style="margin-left: 20px;" (click)="reset()">Reset 
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    </div>
  </form> -->

<p-table [value]="audits"  dataKey="action_ID" id="body" responsiveLayout="scroll"  [scrollable]="true" scrollHeight="450px"
 styleClass="p-datatable-sm  p-datatable-striped p-datatable-gridlines p-datatable-customers"
  #dt>
  <!-- [scrollable]="true" [rows]="100" scrollHeight="900px"
  [virtualScroll]="true" [virtualRowHeight]="100"> -->
  <!-- [rowsPerPageOptions]="[5,10,25,50]"  [rowHover]="true"  [(first)]="first" -->
  <!-- [paginator]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" -->
  <!-- [rows]="rows" [showCurrentPageReport]="true" sortMode="multiple"  -->

  <ng-template pTemplate="header">
    <tr>

      <!-- <th pSortableColumn="action_ID" style="max-width: 10%;">
        <div class="p-d-flex p-jc-between p-ai-center">
          Action ID
          <p-sortIcon field="action_ID"></p-sortIcon>
        </div>
      </th> -->


      <th pSortableColumn="action" style="max-width: 35%;">
        <div class="p-d-flex p-jc-between p-ai-center">
          Action Name
          <p-sortIcon field="action"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="action_BY"  style="max-width: 10%;">
        <div class="p-d-flex p-jc-between p-ai-center">
          Action By
          <p-sortIcon field="action_BY"></p-sortIcon>
        </div>
      </th>

      <th pSortableColumn="action_DATE" style="max-width: 20%;">
        <div class="p-d-flex p-jc-between p-ai-center">
          Action Date
          <p-sortIcon field="action_DATE"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="notes" style="max-width: 35%;">
        <div class="p-d-flex p-jc-between p-ai-center">
          Notes
          <p-sortIcon field="notes"></p-sortIcon>
        </div>
      </th>
      
    </tr>
  </ng-template>
  <!-- <ng-template pTemplate="header">
   
    <tr>

      <th>
        <p-columnFilter type="text" field="action_ID" ></p-columnFilter>
      </th>

      <th>
         <p-columnFilter type="text" field="action"></p-columnFilter>

      </th>
      <th>
         
         <p-columnFilter type="text" field="action_BY"></p-columnFilter>

      </th>
      <th>
        <p-columnFilter type="date" field="action_DATE">
            <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-calendar dateFormat="mm/dd/yy  HH:mm" (onSelect)="filter($event)">
                    </p-calendar>
              </ng-template>
        </p-columnFilter>

       
      </th>
      
      
    </tr>

  </ng-template> -->


  <ng-template pTemplate="body" let-audit>
    <tr>
      <!-- (mouseover)="highlightlookup(processes)" [ngClass]="{'highlight' : processes.process_NAME == selectedName}" -->
      <!-- <td style="max-width: 10%;"> {{audit.action_ID}}</td> -->

      <td style="max-width:35%;">{{audit.action}}</td>

      <td  style="max-width: 10%;">{{audit.action_BY}}</td>

      <td style="max-width:20%;">{{audit.action_DATE}}</td>
      <td style="max-width: 35%;"> {{audit.notes}}</td>

      
    </tr>

  </ng-template>
  <ng-template style="width: 100%; display: table-caption; " pTemplate="footer">

    <p-button type="button" styleClass="p-button-text"
      (click)="onReadMore()" style="float: right; display: table-caption;" *ngIf="this.searchFlag==false" > Next &raquo;</p-button>
      <p-button type="button" styleClass="p-button-text" style="float: right; display: table-caption;"
      (click)="search(f)" *ngIf="this.searchFlag==true" > Next  &raquo;</p-button>
    <!-- <p-button type="button" styleClass="p-button-text" style="float: left;" (click)="pervious()" *ngIf="this.PageNo>1">
      &laquo; Pervious</p-button> -->

  </ng-template>

  <ng-template pTemplate="emptymessage">
    <!-- <span class="emptymessage">Loading Data</span>  -->
    <tr>
      <td colspan="5"><span class="emptymessage">No Data Found</span> </td>
    </tr>
  </ng-template>


</p-table>