
<div id="loginPage">
    <form #f="ngForm" (ngSubmit)="login(f.value)">

        <div class="p-fluid p-grid">
            <div class="card">
                <div class="p-fluid p-grid">
                    <br>
                    <div class="p-field p-col-12 p-md-4">
                        <img src="assets/images/MTSLogo.png" id="logo">
                    </div>

                    <!-- <div class="p-field p-col-12 p-md-4">
                        <h3 class="text-center"> Login </h3>
                    </div> -->

                    <div class="p-field p-col-12 p-md-4">
                        <label for="Username"> User Name </label>
                        <input type="text" pInputText  [(ngModel)]="name" name="name"
                            #RNAME="ngModel" required>
                        <small class="text-danger mt-1" *ngIf="RNAME.errors?.required && RNAME.touched ">UserName is required.</small>
                          
                    </div>

                    <div class="p-field p-col-12 p-md-4">
                        <label for="password"> Password </label>
                        <input  [(ngModel)]="password" name="password" type="password" pInputText
                            #RPASS="ngModel" required>
                        <small class="text-danger mt-1" *ngIf="RPASS.errors?.required && RPASS.touched ">Password is  required.</small>
                        <!-- [toggleMask]="true" -->
                    </div>


                    <br>
                    
                    <div class="p-field p-col-12 p-md-4"  style="margin-top: -13px;">
                        <button pButton type="submit" class="myform-btn" [disabled]=f.form.invalid>
                           <span class="titlelogin"> LOGIN</span>
                        </button>
                    </div>
                    <div class="p-col-12">
                        <p class="text-danger mt-3 text-center">{{showErrorMessage}}</p>
                    </div>
                    <br> <br>
                    <!-- <div class="p-field p-col-12 p-md-4"></div> -->
                       
                    
                </div>
            </div>
        </div>
    </form>

</div>



