<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="cancelModalLabel">Confirmation</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure to Cancel changes ?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onCancelBusinessObj()"  class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
</div>
    <form #f="ngForm" style="margin-top: -20px;" (ngSubmit)="onEditBusinessObj(f.value)"  >
        <div style="text-align: end;">
            <!-- [disabled]=f.form.invalid -->
            <button type="submit" class="btn btn-success btn-sm mb-1 mr-1 " [disabled]="f.invalid"> <i
                    class="fa fa-save" ></i> Save</button>
            <button type="button" class="btn btn-danger btn-sm mb-1" data-dismiss="modal" data-toggle="modal" data-target="#cancelModal"> <i class="fa fa-times"></i>
                Cancel</button>
        </div>
        <div class="form-group row" style="visibility: hidden;height: 0;">
            <label for="ID" class="col-sm-2 col-form-label">ID :</label>
            <div class="col-sm-10  input-group-sm">
                <input type="text" class="form-control"  [(ngModel)]="ID"  id="ID" name="ID" required />
                <input type="text"  [(ngModel)]="do_ID"  id="do_ID" name="do_ID"  />

            </div>
        </div>
       

        <div class="form-group row">
            <label for="CODE" class="col-sm-2 col-form-label">Code* </label>
            <div class="col-sm-10  input-group-sm">
                <input type="text" class="form-control"  [(ngModel)]="CODE" id="CODE" name="CODE" readonly required />
            </div>
        </div>

        <div class="form-group row">
            <label for="NAME" class="col-sm-2 col-form-label"> Name* </label>
            <div class="col-sm-10  input-group-sm">
                <input type="text" class="form-control" [(ngModel)]="NAME" id="NAME" name="NAME" required />
            </div>
        </div>

        <div class="form-group row">
            <label for="DESCRIPTION" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10  input-group-sm">
                <textarea type="text" row="2" class="form-control"  [(ngModel)]="description" name="description" id="description"></textarea>
            </div>
        </div>
        <div class="form-group row" [hidden]="dType">
            <label for="do_TYPE" class="col-sm-2 col-form-label">Do Type</label>
            <div class="col-sm-10  input-group-sm">
                <select type="text" row="2" class="form-control"  [(ngModel)]="do_TYPE" name="do_TYPE" id="do_TYPE"  #selectElem (change)="setNewType(selectElem.value)">
                    <option *ngFor="let type of lTypes" [value]="type.Name">
                        {{type.Name}}
                    </option>
                  </select>
                </div>
        </div>

      
    </form>

    

   

    <p-table [value]="rowData" dataKey="name"  id="body" responsiveLayout="scroll" styleClass="p-table-sm override-this" #dt>
        <ng-template pTemplate="caption"  class="border">

                    <!-- {{ID}}
                    {{do_ID}} -->
                    <app-add-object-attribute   [bo_ID]="ID" [do_ID]="do_ID" ></app-add-object-attribute>
                    <app-process style="float: right; margin-right: 0;" [bo_ID]="ID"></app-process>
          
        </ng-template>
        <ng-template pTemplate="header">
            
            <tr>
                <!-- <th style="width: 3rem"></th> -->
                <th pSortableColumn="att_ID">
                    <div class="p-d-flex p-jc-between p-ai-center">

                        ID
                        <p-sortIcon field="att_ID"></p-sortIcon>
                        <p-columnFilter type="text" field="att_ID" display="menu"></p-columnFilter>
                    </div>
                </th>



                <th pSortableColumn="att_NAME">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Name <p-sortIcon field="att_NAME"></p-sortIcon>
                        <p-columnFilter type="text" field="att_NAME" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="att_CODE">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Code
                        <p-sortIcon field="att_CODE"></p-sortIcon>
                        <p-columnFilter type="text" field="att_CODE" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="att_TYPE">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Type
                        <p-sortIcon field="att_TYPE"></p-sortIcon>
                        <p-columnFilter type="text" field="att_TYPE" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th></th>
                <th></th>
            </tr>

        </ng-template>


        <ng-template pTemplate="body" let-MainData let-expanded="expanded">
            <tr (mouseover)="highlightAttObj(MainData)"  
              [ngClass]="{'highlight' : MainData.att_NAME == selectedName}">
                <!-- <td>
                    <button type="button" pButton pRipple [pRowToggler]="MainData"
                        class="p-button-text p-button-rounded p-button-plain">
                    </button>
                </td> -->
                <td>{{MainData.att_ID}}</td>
                <td>{{MainData.att_NAME}}</td>
                <td>{{MainData.att_CODE}}</td>
                <td>{{MainData.att_TYPE}}</td>
                <td>
                    <!-- <i class="fa fa-edit" style="font-size:24px;color:green" data-toggle="modal" (click)="onPress(MainData.att_ID)"
                  ></i> -->
                  <i class="fa fa-edit" style="font-size:16px;color:green" data-toggle="modal" (click)="onPress(MainData.att_ID)"></i>
<!-- {{MainData.att_ID}} -->
                     
                </td>
                <td>
                    <i class="fa fa-trash-o"popover-class="popover" style="font-size:16px;color:red" 
                  (click)= "onPressAtt(MainData)" >
                    </i>
                    <!-- <i class="fa fa-trash-o" style="font-size:24px;color:red" (click)="onDeleteAtt(MainData.att_ID)"></i> -->
                </td>

                <div class="modal fade" id="deleteAttModal" tabindex="-1" role="dialog" aria-labelledby="deleteAttModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                       <div class="modal-content">
                          <div class="modal-header">
                             <h5 class="modal-title" id="deleteAttModalLabel">Delete Object Attribute</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                             </button>
                          </div>
                          <div class="modal-body">
                             <p>Are you sure you want to delete {{DAttName}}?</p>
                             <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button (click)="onDeleteAtt(DAttID)"  class="btn btn-danger" data-dismiss="modal">Yes</button>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
            </tr>
            
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>

                <td colspan="6"><span class="emptymessage">No Data Found</span> </td>
            </tr>
        </ng-template>
    </p-table>
    <div id="comp-render" *ngIf="display">
        <app-update-attribute  ></app-update-attribute>
        
    </div>
