<div class="row col-12" style="margin: 0 -27px; ">
  <div class="col-12">
    <app-add-business-object></app-add-business-object>
    <button type="button" class="btn btn-info btn-sm mb-1" (click)="exportExcel()" title="XLS"
      style="margin-left: 10px;">
      <i class="fa fa-download" aria-hidden="true"></i>
      Export
    </button>
  </div>
  <div class="col-4">

    <p-table [value]="AllData" id="bustable" dataKey="bo_ID" responsiveLayout="scroll" [scrollable]="false" scrollHeight="520px"
      id="boTable" name="boTable" selectionMode="multiple" [(selection)]="selectedProducts"
      (onFilter)="handleFilter($event,dt.totalRecords)" expandableRows="true"
      styleClass="p-datatable-sm  p-datatable-striped "  >


      <ng-template pTemplate="header">
        <tr [pSelectableRow]="MainData">
          <th style="max-width:10% "></th>
          <!-- <th pSortableColumn="bo_ID" >
                        <div class="p-d-flex p-jc-between p-ai-center">
                            ID
                            <p-sortIcon field="bo_ID"></p-sortIcon>
                            <p-columnFilter type="text" field="bo_ID" display="menu"></p-columnFilter>
                        </div>
                    </th> -->
          <th pSortableColumn="bo_NAME" style="max-width:50% ">
            <div class="p-d-flex p-jc-between p-ai-center">
              Bo Name
              <p-sortIcon field="bo_NAME"></p-sortIcon>
              <p-columnFilter type="text" field="bo_NAME" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="max-width: 10% "></th>
          <th style="max-width: 10% "></th>
        </tr>
      </ng-template>

      <!-- (mouseover)="highlightBo(MainData)" -->
      <ng-template pTemplate="body" let-MainData let-expanded="expanded">
        <tr (click)="onRowBo(MainData)" style="height:40px ;  "
          [ngClass]="{'highlight' : MainData.bo_NAME == selectedName}">
          <td style="max-width: 10% ">
            <button type="button" pButton pRipple [pRowToggler]="MainData"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>

          <!-- <td>{{MainData.bo_ID}}</td> -->
          <td style="max-width: 50% ">
            {{MainData.bo_NAME}}</td>
          <td style="max-width: 10% ">
            <!-- <app-add-data-obj [bo]="MainData"  ></app-add-data-obj></td> -->
            <i data-toggle="modal" class="fa fa-plus" (click)="onPressAdd(MainData)"
              style="font-size:16px;color:rgb(17, 92, 14)"></i>
          </td>

          <td style="max-width: 10% ">
            <i class="fa fa-trash-o" popover-class="popover" style="font-size:16px;color:red" data-toggle="modal"
              (click)="onPressBo(MainData)"></i>
          </td>
          <!-- <i class="fa fa-trash-o" style="font-size:24px;color:red"
                            (click)="onDeleteBo(MainData.bo_ID)"></i></td> -->
        </tr>

        <div class="modal fade" id="deleteBoModal" tabindex="-1" role="dialog" aria-labelledby="deleteBoModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="deleteBoModalLabel">Delete Business Object</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete {{DboName}}?</p>
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteBo(DboID)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4"><span class="emptymessage">No Data Found</span> </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-MainData>
        <tr>
          <td colspan="4" style="    padding: 5px;">
            <!-- <div class="p-p-3">  -->
            <p-table [value]="MainData.dos" dataKey="do_ID" 
            styleClass="p-datatable-sm  p-datatable-striped " id="doTable" style="width: 88%;">

              <ng-template pTemplate="header" >
        <tr >
          <!-- <th style="max-width:10% "></th> -->
          <!-- <th pSortableColumn="do_ID">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Do ID
                            <p-sortIcon field="do_ID"></p-sortIcon>
                            <p-columnFilter type="text" field="do_ID" display="menu"></p-columnFilter>
                        </div>
                    </th> -->


          <th pSortableColumn="name" style="max-width:60% ">
            <div class="p-d-flex p-jc-between p-ai-center">
              Do Name
              <p-sortIcon field="name"></p-sortIcon>
              <p-columnFilter type="text" field="do_ID" display="menu"></p-columnFilter>
              
                       <i class="fa fa-download" (click)="exportExcelDo()" style="font-size:16px;" title="XLS"></i>
                             
                            
            </div>
          </th>
          <th >
          
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-DetailsData>
        <tr (click)="onRowDo(DetailsData)" [ngClass]="{'highlight' : DetailsData.do_NAME == DselectedName}">
          <!-- <td style="max-width:10% "></td> -->
          <!-- <td >{{DetailsData.do_ID}}</td> -->
          <td style="max-width:60% ">{{DetailsData.do_NAME}}</td>
          <td >
            <!-- <i class="fa fa-trash-o" style="font-size:24px;color:red"
                            (click)="onDeleteDo(DetailsData.do_ID)"></i></td> -->
            <i class="fa fa-trash-o" popover-class="popover" style="font-size:16px;color:red"
              (click)="onPressDo(DetailsData)"></i>
          </td>
        </tr>

        <div class="modal fade" id="deletedoModal" tabindex="-1" role="dialog" aria-labelledby="deletedoModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="deletedoModalLabel">Delete Data Object</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete {{DdoName}}?</p>
             
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteDo(DdoID)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4"><span class="emptymessage">No Data Found</span> </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- </div> -->
    </td>
    </tr>
    </ng-template>
    </p-table>
  </div>

  <div class="col-8">
    <app-business-attribute (startReLoadData)="getBo()"></app-business-attribute>
  </div>
</div>

<div class="modal fade" id="dataObject" tabindex="-1" role="dialog" aria-labelledby="dataObjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="dataObjectLabel">Add Data Object</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset(addForm.value)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="onAddDatasObj(this.DboID,addForm)">

      <div class="modal-body">
          <div class="form-group row" style="visibility: hidden;height: 0;">
            <label for="bo_ID" class="col-sm-2 col-form-label">BO ID</label>
            <div class="col-sm-10  input-group-sm">
              <input type="text" class="form-control" [(ngModel)]="this.DboID" id="bo_ID" name="bo_ID" disabled />

            </div>
          </div>
          <div class="form-group row">
            <label for="do_CODE" class="col-sm-2 col-form-label">DO Code* </label>
            <div class="col-sm-10  input-group-sm">
              <input type="text" class="form-control" id="do_CODE" [(ngModel)]="do_CODE" name="do_CODE" maxlength="21"
                required />
              <small class="text-danger mt-1" *ngIf="this.do_CODE.length==21">
                Code must be less than or equal 20 character
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label for="do_NAME" class="col-sm-2 col-form-label">DO Name* </label>
            <div class="col-sm-10  input-group-sm">
              <input type="text" class="form-control" id="do_NAME" [(ngModel)]="do_NAME" name="do_NAME" maxlength="101"
                required />
              <small class="text-danger mt-1" *ngIf="this.do_NAME.length==101">
                Name must be less than 100 or equal character
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label for="do_TYPE" class="col-sm-2 col-form-label">DO Type* </label>
            <div class="col-sm-10  input-group-sm">
              <select class="form-control" [(ngModel)]="do_TYPE" name="do_TYPE" id="do_TYPE" #selectElem
                (change)="setNewType(selectElem.value)" maxlength="20" required>
                <option *ngFor="let type of lTypes" [value]="type.Name">
                  {{type.Name}}
                </option>
              </select>
              <small class="text-danger mt-1" *ngIf="this.do_TYPE.length==20">
                Type must be less than or equal 20 character
              </small>
            </div>
          </div>
          <!-- <input type="text" class="form-control" id="do_TYPE" ngModel name="do_TYPE" required /> -->




          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10  input-group-sm">

              <textarea type="text" row="3" class="form-control" id="description" [(ngModel)]="description"
                name="description" maxlength="201"></textarea>
              <small class="text-danger mt-1" *ngIf="this.description.length==201">
                Description must be less than or equal 200 character
              </small>
            </div>
          </div>
       



      </div>

      <div class="modal-footer">
        <button type="submit" [disabled]="addForm.invalid" class="btn btn-success">Add Data Object</button>
        <button type="button" class="btn btn-danger" id="add-obj-form" data-dismiss="modal"
          (click)="reset(addForm.value)">Cancel</button>

      </div>
    </form>


    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Confirmation</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

</ng-template>